/* poppins-300 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/poppins-v24-latin-300.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* poppins-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/poppins-v24-latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* poppins-600 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/poppins-v24-latin-600.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* poppins-900 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/poppins-v24-latin-900.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}


:root{
    --color-brand: #819B57;
    --color-brand-dark: #465929;
    --color-primary-dark:#31261A;
    --color-primary-light:#FAF4EA;
    
    }
*{
    box-sizing: border-box;
}
/* base */
body{
    color: var(--color-primary-dark);
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    margin: 0;
}
h1, h2, h3, h4, h5, h6, p{
    margin-top: 0;
}
ul{
    list-style-type: none;
}
address{
    font-style: normal;
}
.section{
    padding: 48px 0;
}
.container{
    width: 100%;
    max-width: 1288px;
    margin: 0 auto;
    padding: 0 24px;
}

/* button */
.main-button {
    padding: 16px 32px;
    color: var(--color-primary-light) ;
    font-weight: 600;
    background-color: var(--color-brand) ;
    border: 2px solid  var(--color-brand);
    border-radius: 8px ;
    cursor: pointer;
}
.main-button:hover{
    color:var(--color-brand-dark);
    background-color: transparent;
}

/* link */
.link {
    color: var(--color-primary-light);
    text-decoration: none;
    
}
.link:hover{
    color:  var(--color-brand);
    text-decoration: none;
    font-weight: 600;

}
/* hero section */
.hero-section{
    padding: 272px 0;
}
.hero-title{
    margin-bottom: 0;
    color: var(--color-primary-light);
    text-align: center;
    font-size: 128px;
}
.hero-title .accent {
    color:  var(--color-brand); /*HEX value*/
} 
.advantages-list{
    color: var(--color-primary-light);
    background-color: var(--color-brand);
}
.advantages-item{
    font-weight: 300;
    font-size: 20px;
}
.section-title{
    font-weight: 900;
    font-size: 64px;
    line-height: 1.3;
}
.section-title .accent{
    color: var(--color-primary-dark) ;
}
.traditions-section{
    padding-top: 96px;
}
.traditions-title {
    margin-bottom: 42px;
}

.visually-hidden {
     position: absolute;
     left: -10000px;
     top: auto;
     width: 1px;
     height: 1px;
     overflow: hidden;
 }
.traditions-text .brand{
    color: var(--color-brand);
    font-weight: 600;/
    
}
.traditions-text .uppercase{
    text-transform: uppercase;
}

/* cookers title */
.chefs-title{
    margin-bottom: 80px;
}
.cookers-title{
    margin-bottom: 16px;
    font-weight: 600;
    font-size: 40px;
    
    }
    /* format section */
  .formats-title{
    margin-bottom: 80px;
  }
 .format-title{
    font-weight: 600;
        font-size: 24px;
 }
 .format-text{
    font-size: 14px;
    font-weight: 300;
 }
 /* kontakt section */
 .kontakt-title{
    margin-bottom: 16px;
 }
 /* footer section */
 .address-link{
    font-size: 16px;
    font-weight: 300;
    color: var(--color-primary-light);
    text-decoration: none;
 }
 .address-link:hover {
     font-size: 16px;
     font-weight: 300;
     color: var(--color-brand);
 }
 .adress-copyright{
    font-size: 14px;
 }