
// fonts
@import './utils/fonts';


@import './base.scss';

@import './utils/variable';

@import './utils/utils';


.section-title {
    font-weight: 900;
    font-size: 64px;
    line-height: 1.3;
}

.section-title .accent {
    color: var(--color-brand-dark);
}

.section-title.centered {
    text-align: center;
}

/* button */

@import './components/buttons';

/* link */
@import './components/links';


/* header */

@import './components/header';

/* hero section */

@import './components/hero';
/* advantages section */

@import './components/advantages';

/* traditions section */

@import './components/traditions';

/* cookers title */

@import './components/cookers';


/* format section */
@import './components/format';

/* kontakt section */

@import './components/contact';

/* footer section */

@import './components/footer';

/* modal */

@import './components/modal';