:root {
    --color-brand: #819B57;
    --color-brand-dark: #465929;
    --color-primary-dark: #31261A;
    --color-primary-light: #FAF4EA;
    --color-secondary-light: #A28268;
    --color-brand-light: #CFCFBC;
}