.chefs-section {
    &__title {
            margin: 0 auto 24px;
            position: relative;

            @media screen and (min-width: $bp-laptop) {
                    margin-bottom: 80px;

                }

            &::before {
                    position: absolute;
                    left: 0;
                    bottom: 24px;
                }
            
            &::after {
                    position: absolute;
                    right: 0;
                    bottom: 24px;
                }
            
            &::before,
            &::after {
                display: none;
                    width: 352px;
                    border: 2px solid var(--color-brand-light);
                    content: '';
                    
                    @media screen and (min-width: $bp-laptop) {
                        display: block;
                }
        }
    }
     &__list {
            display: flex;
            flex-direction: column;
            gap: 20px;
            flex-wrap: wrap;

            @media screen and (min-width: $bp-tablet) {
                    flex-direction: row;
                    gap: 40px 30px;
                }
        }
    
        &__item {
            @media screen and (min-width: $bp-tablet) {
                flex-basis: calc((100% - 30px) / 2);
            }
            
        }

}