.footer {
    padding: 32px 0;
    position: relative;
    background-color: var(--color-primary-dark);
    background-image: url('../images/newfooter-background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    &__container {
            display: flex;
            flex-direction: column;
            gap: 20px;

            @media screen and (min-width:$bp-tablet) {
                    flex-direction: row;
                    flex-basis: 50%;
                }
        }
    
        &__nav,
        &__address {
            display: flex;
            flex-direction: column;
            text-align: center;
            gap: 20px;

            @media screen and (min-width:$bp-tablet) {
                flex-direction: row;
                flex-basis: 50%;
                text-align: left;
            }
        }
    
        &__logo,
        &__menu {
            flex-grow: 1;
        }
                // &__menu {
                //     display: flex;
                //     flex-direction: column;
                //     align-items: flex-start;
                //     padding: 0px;
                //     gap: 16px;
                //     flex-grow: 1;
        
                // }
        &::after,
        &::before {
            position: absolute;
            bottom: 0;
            background-repeat: no-repeat;
            content: '';
        }
        &::before {
            width: 180px;
            height: 120px;
            left: 0;
            background-image: url(../images/mbadvn-PhotoRoom2.png);
        }
    
        &::after {
            background-image: url(../images/bread-decor-large.png);
            width: 380px;
            height: 190px;
            right: 0;
        }

                &__address-link {
                    font-size: 16px;
                    font-weight: 300;
                    color: var(--color-primary-light);
                    text-decoration: none;
        
                    &:hover {
                        font-size: 16px;
                        font-weight: 300;
                        color: var(--color-brand);
                    }
                }
        
        
        
                &__address-icon {
                    display: flex;
                    fill: var(--color-primary-light);
                    gap: 22px;
                    flex-direction: row;
                }
        
                &__address-list {
                    flex-grow: 1;
                }
        
                &__address-info {
                    flex-grow: 1;
                }
                          &__address-links {
                              display: flex;
                              flex-direction: column;
                              align-items: flex-start;
                              padding: 0px;
                              gap: 16px;
                              flex-grow: 0;
                          }
                        &__adress-copyright {
                            font-size: 14px;
                        }
}













